[submodule "outside/iUserApps"]
	path = outside/iUserApps
	url = https://github.com/ZincPlatforms/iUserApps
[submodule "outside/iboot"]
	path = outside/iboot
	url = https://github.com/ZincPlatforms/iboot
